<h3 *ngIf="languages.length == 0">Loading....</h3>
<div class="container" *ngIf="languages.length > 0">
	<h3>Job Application Form</h3>
	<form #form="ngForm" novalidate (submit)="submitForm(form)">
		<!--<div class="form-group">
			<label for="firstNameId">First Name</label>
			<input id="firstNameId" type="text" class="form-control" name="firstName" required [ngModel] = "model.firstName" (ngModelChange) = "firstNameToUpperCase($event)">
		</div> -->
		<div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
			<label for="firstNameId" class="control-label">First Name</label>
			<input id="firstNameId" #firstName="ngModel" type="text" class="form-control" name="firstName" required pattern="...+" [(ngModel)] = "model.firstName">
			<div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched"> First Name is required and must be atleast 3 characters</div>
		</div>
		<div class="form-group">
			<label for="lastNameId">Last Name</label>
			<input id="lastNameId" type="text" class="form-control" name="lastName" required [(ngModel)] = "model.lastName">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="is-full-time" [(ngModel)] = "model.isFullTime"> Full Time
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="contract" [(ngModel)] = "model.isContract"> Contract
			</label>
		</div>
		<label>Payment Type</label>
		<div class="radio">
			<label>
				<input type="radio" name="payType" value="w2" checked [(ngModel)] = "model.payType"> W2
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="payType" value="1099" [(ngModel)] = "model.payType"> 1099
			</label>
		</div>
		<div class="form-group" [class.has-error] = "hasPrimaryLangError">
			<label class="control-label">Primary Language</label>
			<select class="form-control" name="primaryLanguage" #primaryLanguage
				(blur) = "validatePrimaryLang(primaryLanguage.value)"
				(change) = "validatePrimaryLang(primaryLanguage.value)"
			 [(ngModel)] = "model.primaryLanguage">
				<option value="default">Select a language..</option>
				<option *ngFor="let lang of languages">
					{{ lang }}
				</option>
			</select>
		</div>
		
		<button type="submit" class="btn btn-primary" [disabled] = "form.invalid">Ok</button>
	</form>
	Model : {{ model | json}}
	<br/>
	Angular : {{ form.value | json}}
</div>